{% case icon %}
  {% when 'wishlist' %}
    {% if settings.ks_wishlist %}
      <a 
        href="#ks-wishlist-drawer" 
        class="header__icon header__icon--wishlist link focus-inset" 
        id="wishlist-icon-bubble" 
        role="button" 
        aria-haspopup="dialog">
        <span class="svg-wrapper">
          {% render 'ks-svg-icons', icon: 'heart', size: 24, stroke_width: 1.5, class: 'icon' %}
        </span>
        <span class="visually-hidden">
          {{ 'kondasoft.wishlist.title' | t }}
        </span>
        <div class="wishlist-count-bubble cart-count-bubble" hidden>
          <span aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </div>
      </a>
    {% endif %}
  {% when 'recently-viewed' %}
    {% if settings.ks_recently_viewed %}
      <a 
        href="#ks-recently-viewed-drawer" 
        class="header__icon header__icon--recently-viewed link focus-inset" 
        id="recently-viewed-icon-bubble" 
        role="button" 
        aria-haspopup="dialog">
        <span class="svg-wrapper">
          {% render 'ks-svg-icons', icon: 'recently-viewed', size: 24, stroke_width: 1.5, class: 'icon' %}
        </span>
        <span class="visually-hidden">
          {{ 'kondasoft.recently_viewed.title' | t }}
        </span>
      </a>
    {% endif %}
{% endcase %}