{% case link %}
  {% when 'account' %}
    {% if shop.customer_accounts_enabled %}
      <li>
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
          {% render 'ks-svg-icons', icon: 'account', size: 24, stroke_width: 1.5, class: 'icon' %}
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </a>
      </li>
    {% endif %}
  {% when 'wishlist' %}
    {% if settings.ks_wishlist %}
      <li>
        <a
          href="#ks-wishlist-drawer"
          class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
          role="button" 
          aria-haspopup="dialog">
          {% render 'ks-svg-icons', icon: 'heart', size: 24, stroke_width: 1.5, class: 'icon' %}
          {{ 'kondasoft.wishlist.title' | t }}
          <div class="wishlist-count-bubble" hidden>
            &nbsp;(<span aria-hidden="true"></span>)
          </div>
        </a>
      </li>
    {% endif %}
  {% when 'recently-viewed' %}
    {% if settings.ks_recently_viewed %}
      <li>
        <a
          href="#ks-recently-viewed-drawer" 
          class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
          role="button" 
          aria-haspopup="dialog">
          {% render 'ks-svg-icons', icon: 'recently-viewed', size: 24, stroke_width: 1.5, class: 'icon' %}
          {{ 'kondasoft.recently_viewed.title' | t }}
        </a>
      </li>
    {% endif %}
{% endcase %}