{% if settings.ks_wishlist %}
  <ks-wishlist-btn
    class="ks-wishlist-btn"
    data-product-url="{{ product.url | split: '?' | first }}"
  >
    <button
      class="button button--full-width"
      aria-pressed="false"
    >
      {% render 'ks-svg-icons', icon: 'heart', size: 18, stroke_width: 1.5 %}
      {{ 'kondasoft.wishlist.add' | t }}
    </button>
  </ks-wishlist-btn>
{% endif %}
